* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

:root {
    --bg-color :#080808;
    --secound-bg-color :#131313;
    --text-color :white;
    --main-color :#00ffee;
}

html {
    font-size: 60%;
    overflow: auto;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 10% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    z-index: 5;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.logo span {
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color:var(--main-color);
    display: none;
}
@media (max-width:950px){
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        text-align: center;
        border-radius: 5px solid var(--text-color);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem ;
        padding: 1rem 3%;
        background-color: var(--secound-bg-color);
        display: none;
        -webkit-border-radius: 5px solid var(--text-color);
        -moz-border-radius: 5px solid var(--text-color);
        -ms-border-radius: 5px solid var(--text-color);
        -o-border-radius: 5px solid var(--text-color);
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        color: var(--text-color);
        font-size: 3rem;
        margin: 3rem 0;
    }
    .navbar a:hover{
        border-bottom: 3px solid var(--main-color);
    }
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 8%;
}
.container h1 {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
.container h1::after {
    content: '';
    background: var(--text-color);
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}
.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid var(--main-color);
    border-radius: 1em;
    transition: 0.3s ease;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.service:hover {
    color: var(--bg-color);
    background: var(--main-color);
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}
i {
    font-size: 32px;
    padding: 10px;
    margin-bottom: 10px;
}